<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.khudhur.messanger">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activities.Activities1.LaitestMessagesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Activities1.RegisterActivity"/>
        <activity android:name=".Activities.Activities1.LogInActivity"/>
        <activity
                android:name=".Activities.Activities1.NewMessageActivity"
                android:parentActivityName=".Activities.Activities1.LaitestMessagesActivity">

            <!-- <meta-data android:name="andriod.support.PARENT_ACTIVITY" -->
            <!-- android:value=".LaitestMessagesActivity"/> -->

        </activity>
        <activity android:name=".Activities.Activities1.ChatLogActivity"
            android:parentActivityName=".Activities.Activities1.NewMessageActivity">
        </activity>
    </application>

</manifest>